* {
  background-color: #f17c6d;
}

svg {
  border: dashed azure;
  background-color: #ef614d;
}

#bike {
  animation-name: moveIntoFrame, circleAround, moveOutOfFrame;
  animation-duration: 5s, 15s, 5s;
  animation-delay: 0ms, 5s, 20s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

#frontWheel {
  transform-origin: 91px 185px;
  animation-name: rotateWheel;
  animation-direction: reverse;
  animation-timing-function: linear;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

#backWheel {
  transform-origin: 372px 185px;
  animation-name: rotateWheel;
  animation-direction: reverse;
  animation-timing-function: linear;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

#pedals {
  transform-origin: 257px 198px;
  animation-name: rotatePedal;
  animation-direction: reverse;
  animation-timing-function: linear;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

@keyframes rotateWheel {

  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


@keyframes rotatePedal {

  25% {
    transform: rotate(180deg);
  }

  50% {
    transform: rotate(360deg);
  }

  75% {
    transform: rotate(540deg)
  }

  100% {
    transform: rotate(720deg)
  }
}

@keyframes moveIntoFrame {
    0% {
        transform: translate(-1500px, 0px);
    }
    100% {
        transform: translate(0px, 0px);
    }
}

@keyframes moveOutOfFrame {
  0% {
      transform: translate(0px, 0px);
      
  }
  100% {
      transform: translate(1500px, 0px);
      
  }
}

@keyframes circleAround {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(72deg);
  }

  40% {
    transform: rotate(144deg);
  }

  60% {
    transform: rotate(216deg);
  }

  80% {
    transform: rotate(288deg);
  }

  100% {
    transform: rotate(360deg);
  }
  
}

.one, 
.two, 
.three, 
.four, 
.five {
  display: none;
}

.numbers {
  color: aquamarine;
  font-size: 60px;
  position: absolute;
  top: 630px;
  left: 50px;
}

